html {
  font-size: 10px;
  background: url('drummer.svg') 50% 40% no-repeat, linear-gradient(#260658 60%, #D93895);
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .3rem solid #1d1d1d;
  border-radius: 20%;
  margin: 1rem;
  font-size: 1.4rem;
  padding: .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #feffff;
  background: rgba(0,0,0,0.3);
  text-shadow: 0 0 .5rem #1d1d1d;
}

.playing {
  transform: scale(1.1);
  border-color: #D93895;
  box-shadow: 0 0 1rem #D93895;
}

kbd {
  display: block;
  font-size: 3.8rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #D93895;
}